/* ==== CSS Comments & Structure ==== */


/* ==== Font ==== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ==== Color Palette : Neutral ==== */

:root {
    --Black: #263238;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89989E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --White: #FFFFFF;
    /* ==== Color Palette : Primary ==== */
    --Primary: #4CAF4F;
    /* ==== Color Palette : Secondary ==== */
    --Secondary: #263238;
    /* ==== Color Palette : Info==== */
    --Info: #2194f3;
    /* ==== Color Palette : Color Shade ==== */
    --Shade-1: #43A046;
    --Shade-2: #388E3B;
    --Shade-3: #237D31;
    --Shade-4: #1B5E1F;
    --Shade-5: #103E13;
    /* ==== Color Palette : Color Tint ==== */
    --Tint-1: #66BB69;
    --Tint-2: #81C784;
    --Tint-3: #A5D6A7;
    --Tint-4: #C8E6C9;
    --Tint-5: #E8F5E9;
    /* ==== Color Palette : Action ==== */
    --Warning: #FBC02D;
    --Error: #E53835;
    --Success: #2E7D31;
    /* ====  Typography ==== */
    /* ====  Headlines ==== */
    /* ====  Headline 1 ==== */
    --Headline-1-font: 64px;
    --Headline-1-line-height: 76px;
    /* ====  
    Headline 2 
    ==== */
    --Headline-1-font: 36px;
    --Headline-1-line-height: 44px;
    /* ====  Headline 3 ==== */
    --Headline-1-font: 28px;
    --Headline-1-line-height: 36px;
    /* ====  Headline 4 ==== */
    --Headline-1-font: 20px;
    --Headline-1-line-height: 28px;
    /* ==== Body ==== */
    /* ==== Body 1 ==== */
    --body1-size: 18px;
    --body1-line-height: 28px;
    /* ==== Body 2 ==== */
    --body2-size: 16px;
    --body2-line-height: 24px;
    /* ==== body 3  ==== */
    --body3-size: 14px;
    --body3-line-height: 20px;
    /* ==== body 4 ==== */
    --body4-size: 12px;
    --body4-line-height: 16px;
    /* ==== Font weight ==== */
    --font-regular: 400;
    --font-medium: 500;
}


/* ==== Standard buttons ==== */


/* ==== Primary ==== */

.button-Primary {
    background-color: var(--Primary);
    border: none;
    color: var(--White);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-Primary:hover {
    background-color: var(--Tint-1);
}

.button-Primary:focus {
    background-color: var(--Tint-1);
    border: 2px solid var(--Black);
}

.button-Primary:Active {
    background-color: var(--Shade-2);
}


/* ==== Normal ==== */

.button-Primary-Normal {
    width: 100px;
    height: 45px;
}


/* ==== Medium ==== */

.button-Primary-Medium {
    width: 90px;
    height: 40px;
}


/* ==== Small ==== */

.button-Primary-Small {
    width: 83px;
    height: 30px;
}


/* ==== Default Styles ==== */

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==== Default UL ==== */

ul {
    list-style: none;
}


/* ==== padding ==== */

.header {
    padding: 2rem 5rem;
}


/* ==== header ==== */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between
}


/* ==== logo ==== */

.logo {
    height: 100%;
    width: 7rem;
}

.logo img {
    height: 100%;
    width: 100%;
}


/* ==== header list ==== */

.header-list {
    width: 50%;
    height: 100%;
}

.header-list ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between
}