/* ===================== CSS Comments & Structure ===================== */


/* ===================== Font ===================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ===================== Default Styles ===================== */

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===================== Color Palette : Neutral===================== */

 :root {
    --Black: #263238;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89989E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --White: #FFFFFF;
}


/* ===================== Color Palette : Primary===================== */

 :root {
    --Primary: #28CB8B;
}


/* ===================== Color Palette : Secondary===================== */

 :root {
    --Secondary: #263238;
}


/* ===================== Color Palette : Info===================== */

 :root {
    --Info: #2194f3;
}


/* ===================== Color Palette : Color Shade===================== */

 :root {
    --Shade-1: #43A046;
    --Shade-2: #388E3B;
    --Shade-3: #237D31;
    --Shade-4: #1B5E1F;
    --Shade-5: #103E13;
}


/* ===================== Color Palette : Color Tint===================== */

 :root {
    --Tint-1: #66BB69;
    --Tint-2: #81C784;
    --Tint-3: #A5D6A7;
    --Tint-4: #C8E6C9;
    --Tint-5: #E8F5E9;
}


/* ===================== Color Palette : Action===================== */

 :root {
    --Warning: #FBC02D;
    --Error: #E53835;
    --Success: #2E7D31;
}

html {
    scroll-behavior: smooth;
}