/* ==== CSS Comments & Structure ==== */


/* ==== Font ==== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ==== Color Palette : Neutral ==== */

:root {
    --transparent: transparent;
    --Black: #263238;
    --B-g: #3B464C;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89989E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --White: #FFFFFF;
    /* ==== Color Palette : Primary ==== */
    --Primary: #4CAF4F;
    /* ==== Color Palette : Secondary ==== */
    --Secondary: #263238;
    /* ==== Color Palette : Info==== */
    --Info: #2194f3;
    /* ==== Color Palette : Color Shade ==== */
    --Shade-1: #43A046;
    --Shade-2: #388E3B;
    --Shade-3: #237D31;
    --Shade-4: #1B5E1F;
    --Shade-5: #103E13;
    /* ==== Color Palette : Color Tint ==== */
    --Tint-1: #66BB69;
    --Tint-2: #81C784;
    --Tint-3: #A5D6A7;
    --Tint-4: #C8E6C9;
    --Tint-5: #E8F5E9;
    /* ==== Color Palette : Action ==== */
    --Warning: #FBC02D;
    --Error: #E53835;
    --Success: #2E7D31;
    /* ====  Typography ==== */
    /* ====  Headlines ==== */
    /* ====  Headline 1 ==== */
    --Headline-1-font: 64px;
    --Headline-1-line-height: 76px;
    /* ==== Headline 2 ==== */
    --Headline-2-font: 36px;
    --Headline-2-line-height: 44px;
    /* ====  Headline 3 ==== */
    --Headline-3-font: 28px;
    --Headline-3-line-height: 36px;
    /* ====  Headline 4 ==== */
    --Headline-4-font: 20px;
    --Headline-4-line-height: 28px;
    /* ==== Body ==== */
    /* ==== Body 1 ==== */
    --body1-size: 18px;
    --body1-line-height: 28px;
    /* ==== Body 2 ==== */
    --body2-size: 16px;
    --body2-line-height: 24px;
    /* ==== body 3  ==== */
    --body3-size: 14px;
    --body3-line-height: 20px;
    /* ==== body 4 ==== */
    --body4-size: 12px;
    --body4-line-height: 16px;
    /* ==== Font weight ==== */
    --font-regular: 400;
    --font-medium: 500;
    /* ==== boxshadow ==== */
    --box-shadow-2: 0 2px 2px rgba(171, 190, 209, 0.6);
    --box-shadow-4: 0 2px 4px rgba(171, 190, 209, 0.4);
    --box-shadow-6: 0 2px 6px rgba(171, 190, 209, 0.3);
    --box-shadow-8: 0 2px 8px rgba(171, 190, 209, 0.4);
    --box-shadow-16: 0 2px 16px rgba(171, 190, 209, 0.3);
}


/* ==== svg g ==== */

.g {
    mix-blend-mode: multiply
}


/* ==== Standard buttons ==== */

button {
    cursor: pointer;
    gap: 8px;
}

.buttons-link {
    text-decoration: none;
}


/* ==== Primary ==== */

.Standard-buttons-Primary {
    background-color: var(--Primary);
    border: none;
    color: var(--White);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--transparent);
}

.Standard-buttons-Primary svg {
    color: var(--White);
}

.Standard-buttons-Primary:hover {
    background-color: var(--Tint-1);
}

.Standard-buttons-Primary:focus {
    background-color: var(--Tint-1);
    border: 2px solid var(--Black);
}

.Standard-buttons-Primary:active {
    background-color: var(--Shade-2);
}

.Standard-buttons-Primary:disabled {
    background-color: var(--Grey-blue);
    color: var(--Silver);
}


/* ==== Normal ==== */

.Standard-buttons-Primary-Normal {
    padding: 0.9rem 1.5rem;
}


/* ==== Medium ==== */

.Standard-buttons-Primary-Medium {
    padding: 0.7rem 1rem;
}


/* ==== Small ==== */

.Standard-buttons-Primary-Small {
    padding: 0.3rem 0.8rem;
}


/* ==== Secondary ==== */

.Standard-buttons-Secondary {
    background-color: var(--White);
    border: 1px solid var(--Primary);
    color: var(--Primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--transparent)
}

.Standard-buttons-Secondary svg {
    color: var(--Primary);
}

.Standard-buttons-Secondary:hover {
    background-color: var(--Silver);
}

.Standard-buttons-Secondary:focus {
    background-color: var(--Silver);
    border: 2px solid var(--Black);
}

.Standard-buttons-Secondary:active {
    background-color: var(--Silver);
    border: none;
}

.Standard-buttons-Secondary:disabled {
    background-color: var(--Silver);
    color: var(--Grey-blue);
    border: none;
}


/* ==== Normal ==== */

.Standard-buttons-Secondary-Normal {
    padding: 0.9rem 1.5rem;
}


/* ==== Medium ==== */

.Standard-buttons-Secondary-Medium {
    padding: 0.7rem 1rem;
}


/* ==== Small ==== */

.Standard-buttons-Secondary-Small {
    padding: 0.3rem 0.8rem;
}


/* ==== Tertiary ==== */

.Standard-buttons-Tertiary {
    background-color: var(--transparent);
    border: none;
    color: var(--Primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--transparent)
}

.Standard-buttons-Tertiary svg {
    color: var(--Primary);
}

.Standard-buttons-Tertiary:hover {
    background-color: var(--Silver);
}

.Standard-buttons-Tertiary:focus {
    background-color: var(--Silver);
    border: 2px solid var(--Black);
}

.Standard-buttons-Tertiary:active {
    background-color: var(--Tint-4);
    border: none;
}

.Standard-buttons-Tertiary:disabled {
    background-color: var(--Silver);
    color: var(--Grey-blue);
    border: none;
}


/* ==== Normal ==== */

.Standard-buttons-Tertiary-Normal {
    padding: 0.9rem 1.5rem;
}


/* ==== Medium ==== */

.Standard-buttons-Tertiary-Medium {
    padding: 0.7rem 1rem;
}


/* ==== Small ==== */

.Standard-buttons-Tertiary-Small {
    padding: 0.3rem 0.8rem;
}


/* ==== Icon buttons  ==== */


/* ==== Primary ==== */

.Icon-buttons-Primary {
    background-color: var(--Primary);
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--transparent)
}

.Icon-buttons-Primary svg {
    color: var(--White);
}

.Icon-buttons-Primary:hover {
    background-color: var(--Primary);
}

.Icon-buttons-Primary:focus {
    background-color: var(--Tint-1);
    border: 2px solid var(--Black);
}

.Icon-buttons-Primary:active {
    background-color: var(--Shade-2);
}

.Icon-buttons-Primary:disabled {
    background-color: var(--Grey-blue);
    color: var(--Silver);
}

.Icon-buttons-Primary:disabled svg {
    color: var(--Grey-blue);
}


/* ==== Normal ==== */

.Icon-buttons-Primary-Normal {
    padding: 0.5rem;
}

.Icon-buttons-Primary-Normal svg {
    width: 24px;
    height: 24px;
}


/* ==== Medium ==== */

.Icon-buttons-Primary-Medium {
    padding: 0.3rem;
}

.Icon-buttons-Primary-Medium svg {
    width: 20px;
    height: 20px;
}


/* ==== Small ==== */

.Icon-buttons-Primary-Small {
    padding: 0.1rem;
}

.Icon-buttons-Primary-Small svg {
    width: 16px;
    height: 16px;
}


/* ==== Secondary ==== */

.Icon-buttons-Secondary {
    background-color: var(--White);
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--transparent)
}

.Icon-buttons-Secondary svg {
    color: var(--Primary);
}

.Icon-buttons-Secondary:hover {
    background-color: var(--Silver);
}

.Icon-buttons-Secondary:focus {
    background-color: var(--Silver);
    border: 2px solid var(--Black);
}

.Icon-buttons-Secondary:active {
    background-color: var(--Silver);
    border: 2px solid var(--Primary);
}

.Icon-buttons-Secondary:disabled {
    background-color: var(--Silver);
}

.Icon-buttons-Secondary:disabled svg {
    color: var(--Grey-blue);
}


/* ==== Normal ==== */

.Icon-buttons-Secondary-Normal {
    padding: 0.5rem;
}

.Icon-buttons-Secondary-Normal svg {
    width: 24px;
    height: 24px;
}


/* ==== Medium ==== */

.Icon-buttons-Secondary-Medium {
    padding: 0.3rem;
}

.Icon-buttons-Secondary-Medium svg {
    width: 20px;
    height: 20px;
}


/* ==== Small ==== */

.Icon-buttons-Secondary-Small {
    padding: 0.1rem;
}

.Icon-buttons-Secondary-Small svg {
    width: 16px;
    height: 16px;
}


/* ==== link style ==== */

.link {
    color: var(--Primary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:focus {
    border: 1px solid var(--L_Grey);
    border-radius: 4px;
}

.link:active {
    color: var(--Shade-4);
}

.link:disabled {
    color: var(--Grey-blue);
}


/* ==== Normal ==== */

.link-Normal {
    font-size: var(--body1-size);
    line-height: var(--body1-line-height);
}


/* ==== Medium ==== */

.link-Medium {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
}


/* ==== Small ==== */

.link-Small {
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
}


/* ==== Default Styles ==== */

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==== Default UL ==== */

ul {
    list-style: none;
}


/* ==== padding ==== */

.header,
.hero-section,
.Our-Clients-box,
.Community-Management-Community-boxes,
.Feature-Section,
.Achievements,
.Sample-Footer,
.story,
.Blog,
.Support,
.footer {
    padding: 4rem 7rem 4rem 7rem;
}


/* ==== header ==== */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Silver);
    padding-top: 1.5rem;
}


/* ==== logo ==== */

.logo {
    height: 100%;
    width: 8rem;
}

.logo img {
    height: 100%;
    width: 100%;
}


/* ==== header list ==== */

.header-list {
    width: 40%;
    height: 100%;
    display: flex;
}

.header-list ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    font-weight: var(--font-medium);
}

.header-list ul a {
    color: var(--Grey);
}


/* ==== sing up button ==== */

.header-button {
    display: flex;
    gap: 1rem;
}


/* ==== mine banner ===== */

.hero-section {
    background-color: var(--Silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-title {
    font-size: var(--Headline-1-font);
    line-height: var(--Headline-1-line-height);
    color: var(--D_Grey);
    display: flex;
    flex-direction: column;
}

.hero-title span {
    color: var(--Primary);
}

.hero-subtitle {
    font-size: var(--body1-size);
    line-height: var(--body2-line-height);
    color: var(--Grey);
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==== Character's hand ==== */

.hand {
    transform-box: fill-box;
    transform-origin: top right;
    animation: handMove 3s ease-in-out infinite;
}

@keyframes handMove {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}


/* ==== Character's head ==== */

.head {
    transform-box: fill-box;
    transform-origin: bottom right;
    animation: headMove 3s ease-in-out infinite;
}

@keyframes headMove {
    0%,
    100% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
}


/* ==== Character's eyes ==== */

.eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform-box: fill-box;
    transform-origin: bottom right;
    animation: blink 5s infinite;
}

@keyframes blink {
    0%,
    2%,
    60%,
    62%,
    100% {
        transform: rotateY(0deg);
    }
    1%,
    61% {
        transform: rotateX(5deg);
    }
}


/* ==== Our Clients ==== */

.Our-Clients-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.title-box h2 {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    font-weight: var(--font-medium);
    color: var(--D_Grey);
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-box p {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    color: var(--Grey);
}

.Our-Clients-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Our-Clients-logo img {
    flex-shrink: 0;
    flex-grow: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    object-fit: none;
}


/* ==== Community boxe ==== */

.Community-Management-Community-boxes {
    display: flex;
    justify-content: space-between;
}

.Community-boxes {
    padding: 24px;
    box-shadow: var(--box-shadow-2);
    border-radius: 5px;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.Community-boxes-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    width: 70%;
}

.Community-boxes-titel img {
    position: relative;
}

.Community-boxes-titel h3 {
    color: var(--D_Grey);
    font-size: var(--Headline-3-font);
    line-height: var(--Headline-3-line-height);
}

.Community-boxes-titel-short-box {
    background-color: var(--Tint-5);
    width: 50px;
    height: 50px;
    border-radius: 17px 5px 17px 5px;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 130px;
}

.Community-boxes-Caption {
    text-align: center;
}

.Community-boxes-Caption p {
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
    color: var(--Grey);
}


/* ==== Feature Section ==== */

.Feature-Section {
    display: flex
}

.Feature-Section-img {
    width: 40%;
}

.Feature-Section-img img {
    width: 100%;
}

.Feature-Section-Content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.Feature-Section-Content .Feature-Section-Content-titel {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    color: var(--D_Grey);
    width: 70%;
}

.Feature-Section-Content .Feature-Section-Content-Caption {
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
    color: var(--Grey);
}


/* ==== Achievements ==== */

.Achievements {
    background-color: var(--Silver);
    display: flex;
}

.Achievements-cantent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.Achievements-cantent h2 {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    color: var(--D_Grey);
    width: 60%;
}

.Achievements-cantent h2 span {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    color: var(--Primary);
}

.Achievements-cantent p {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
}

.Achievements-Statistics {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.Achievements-Statistics-card {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Achievements-Statistics-card .Statistics h2 {
    font-size: var(--Headline-3-font);
    line-height: var(--Headline-3-line-height);
    color: var(--D_Grey);
}

.Achievements-Statistics-card .Statistics p {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    color: var(--Grey);
}


/* ==== Sample Footer ==== */

.Sample-Footer {
    display: flex
}

.Sample-Footer-img {
    width: 40%;
}

.Sample-Footer-img img {
    width: 100%;
}

.Sample-Footer-Content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.Sample-Footer-Content .Sample-Footer-Content-titel {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    color: var(--D_Grey);
    width: 70%;
}

.Sample-Footer-Content .Sample-Footer-Content-Caption {
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
    color: var(--Grey);
}


/* ==== Story ====  */

.story {
    background-color: var(--Silver);
    display: flex;
    gap: 4.5rem;
}

.story-img-box {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow-8);
    overflow: hidden;
}

.story-img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.story-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.story-box p {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    color: var(--Grey);
}

.story-box h4 {
    font-size: var(--Headline-4-font);
    line-height: var(--Headline-4-line-height);
    color: var(--Primary);
}

.story-box span {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    color: var(--L_Grey);
}

.Companies-and-button {
    display: flex;
    gap: 2rem;
}

.Companies-img {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.Companies-butten {
    display: inline-block;
}


/* ==== Blog ==== */

.Blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 10rem;
}

.Blog-titel {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 50%;
    text-align: center;
}

.Blog-titel h2 {
    font-size: var(--Headline-2-font);
    line-height: var(--Headline-2-line-height);
    color: var(--D_Grey);
}

.Blog-titel p {
    font-size: var(--body2-size);
    line-height: var(--body2-line-height);
    color: var(--Grey);
}

.Blog-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Blog-card {
    width: 22.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Blog-card-img {
    width: 100%;
    height: 17.8rem;
    border-radius: 10px;
    overflow: hidden;
}

.Blog-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Blog-card-Content {
    width: 25%;
    background-color: var(--Silver);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
    box-shadow: var(--box-shadow-8);
    border-radius: 0.5rem;
    gap: 1rem;
    position: absolute;
    top: 70%;
    align-items: center
}

.Blog-card-Content h4 {
    font-size: var(--Headline-4-font);
    line-height: var(--Headline-4-line-height);
    color: var(--Grey);
}


/* ==== Support ====  */

.Support {
    background-color: var(--Silver);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Support-titel {
    text-align: center;
    width: 50%;
}

.Support-titel h1 {
    font-size: var(--Headline-1-font);
    line-height: var(--Headline-1-line-height);
    color: var(--Black);
}


/* .arrow-icon {
    color: red;
} */


/* ==== footer ==== */

.footer {
    background-color: var(--Black);
    display: flex;
    justify-content: space-between;
    color: var(--Silver);
}

.Company-Info {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Company-Info-logo {
    width: 55%;
    object-fit: contain;
}

.Company-rights {
    width: 55%;
}

.Company-rights p {
    font-size: var(--body3-size);
    line-height: var(--body1-line-height);
    color: var(--Silver);
}

.Social-networks {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.Social-networks-box {
    background-color: var(--B-g);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.Social-networks svg {
    width: 60%;
}

.footer-list {
    display: flex;
    gap: 4rem;
}

.company-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.company-list h4 {
    font-size: var(--Headline-4-font);
    line-height: var(--Headline-4-line-height);
}

.company-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: var(--Silver);
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
}

.company-list ul .link {
    color: var(--White);
}

.Support-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Support-list h4 {
    font-size: var(--Headline-4-font);
    line-height: var(--Headline-4-line-height);
}

.Support-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: var(--Silver);
    font-size: var(--body3-size);
    line-height: var(--body3-line-height);
    color: var(--White);
}

.Support-list ul .link {
    color: var(--White);
}


/* ==== Notification ====  */

.footer-Notification {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-Notification h4 {
    font-size: var(--Headline-4-font);
    line-height: var(--Headline-4-line-height);
}

.footer-Notification-input {
    position: relative;
    height: 2rem;
}

.footer-Notification-input form {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
}

.footer-Notification-input input {
    background-color: var(--B-g);
    height: 100%;
    width: 90%;
    border: none;
    padding: 1rem 1rem 1rem 0.7rem;
    caret-color: var(--Whit);
    color: var(--Whit);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.footer-Notification-input input::-webkit-scrollbar {
    display: none;
}

.footer-Notification-input input::placeholder {
    color: var(--Grey);
}

.footer-Notification-input input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--transparent) inset !important;
    -webkit-text-fill-color: var(--White) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    outline: none;
    border: none;
}

.footer-Notification-input button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    background-color: var(--B-g);
    /* background-color: rgba(255, 0, 0, 0.204); */
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: 0 0 40px 50px var(--B-g);
}

.footer-Notification svg {
    width: 17px;
    height: 17px;
}